// Typography style

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: .5;
}

body {
  @include default-font-size($size-body);
  font: {
    family: $base-font-family;
    weight: 400;
  };
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: {
    family: $base-font-family;
    weight: 700;
  };
}