@import 'colors/_project_default';

$orange-1: #f18b21;
$orange-2: #d7b230;
$green-1: #30ad63;
$red-1: #db4545;

$blue-1: #1f92df;
$blue-2: #73E8FF;
$blue-3: #90cff4;
$blue-4: #00afdb;

$gray-1: #333333;
$gray-2: #c4c4c4;
$gray-3: #999999;
$gray-4: #f0f0f0;
$gray-5: #f5f5f5;


// General ---------------
$body-color: #5b6067;
$body-bg: #F9F9F9;
// -----------------------

//Dropdown----------------
$droppdown-color:  $gray-1;
$droppdown-border:  $gray-2;
$droppdown-toggle-btn:  $gray-3;
$droppdown-item-border:  $gray-4;
$droppdown-item-bg-hover:  $gray-5;

// ----------------------



